@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23bae6fd' fill-opacity='0.24'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}



@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.password-rules {
  transform: scaleY(0);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.password-rules.show {
  transform: scaleY(1);
  opacity: 1;
  visibility: visible;
}

.overlay {

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

}


.loading-circle {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 90%;
  width: 60px;
  height: 60px;
  animation: spin 1.045s ease-in-out infinite;
  
}

.tooltip {
  visibility: hidden;
  background-color: gray;
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.checkmark:hover .tooltip {
  visibility: visible;
  opacity: 1;
}


.progress-bar {
  transition: width 0.3s ease-in-out;
}


body {
  transition: all 0.05s ease;

}

